html {
  font: 16px $font-stack-secondary;
}

h1 {
  font: 4rem $font-stack-primary;
}

button {
  background-color: black;
  border: 2px solid rgb(27, 27, 27);
  color: white;
  padding: 10px 20px;
  font-size: 0.8rem;
  border-radius: 2px;
}

ul {
  list-style: none;
}

li {
  background-color: rgb(206, 206, 206);
  padding: 30px;
  margin: 20px;
  width: 25%;
}