@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700|Indie+Flower&display=swap');

$font-stack-primary: 'Indie Flower', 'Times New Roman', serif;
$font-stack-secondary: 'Montserrat', arial, sans-serif;

$primary-blue: #9b9ce0;
$primary-dark-blue: #5859b7;
$primary-darker-blue: #282975;
$primary-light-blue: #9b9ce02e;
$secondary-blue: #7879c5;
$primary-grey: rgb(226, 228, 228);
$accent-green: rgb(60, 213, 121);
$accent-dark-green: #049c40;
$accent-light-green: #3dd57942;
$accent-red: rgb(238, 56, 56);
$accent-dark-red: #ad0404;