@import './reset';
@import './theme';
@import './base';
@import './layout';
@import './components/heading';
@import './components/button';
@import './components/filter-menu';
@import './components/todo-list';

body {
  background-color: $primary-blue;
}

.todo-presentation ul:nth-child(2) {
  margin-top: 20px;
}

main {
  background-color: #fff;
  margin: 10px;
  border: 2px solid $primary-dark-blue;
}
